name: Build, Static Scan, and Push Docker Image (Semgrep)

on:
  push:
    branches:
      - main

jobs:
  build-scan-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Trivy (official Action)
      - name: Run Trivy scan on Docker image
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ secrets.DOCKERHUB_USERNAME }}/my-fastapi-app:latest
          format: table
          ignore-unfixed: true
          exit-code: 1
          severity: HIGH,CRITICAL
